<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
    <title>ITcles</title>
</head>
<body>
    <main>
        <header>
            <div class = 'header_menu'>
                <a href="{{url_for('index')}}"><img src="" alt="icon"></a>
                <ul class="menu_block">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('create')}}">Create</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                </ul>
                <div class='search_block'>
                    <label for="">find</label>
                    <input type="text">   
                    <input type="submit">  
                </div>
                <ul class="icons_block">
                    {% if current_user.is_anonymous %}
                    <a href="{{url_for('login')}}"><li><img src="" alt="login"></li></a>
                    {% else %}
                    <a href="{{url_for('profile', username=current_user.username)}}"><li><img src="" alt="Profile"></li></a>
                    {% endif %}
                </ul>
            </div>
        </header>
        <div class="main_content_wrapper">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
    </main>
</body>
</html>